<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Universidad Complutense de Madrid</title>
        
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Custom styles -->
        <link href="css/useradmin.css" rel="stylesheet">
        <link href="css/aula.css" rel="stylesheet">
        <link href="css/exams.css" rel="stylesheet">
       
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css"> 
        <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico"/>
    </head>
    <body>
        <a id="button"></a>
        
        <nav class="navbar navbar-expand-md navbar-dark p-3">
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a id="navdropdown" href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"> <i class="fas fa-bars"></i> Menú</a>
                        <div class="dropdown-menu" aria-labelledby="navdropdown">
                            <a class="active dropdown-item" href="/PerfilExamen">Perfil</a>
                            <a class="dropdown-item" href="/Examen">Aula</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="mx-auto order-0">
                <a class="navbar-brand" href="#">
                    <img src="https://www.sinnaps.com/wp-content/uploads/2016/10/UCM-Alternativa-color.png" alt="Logo Universidad Complutense">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/destroy">Salir</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>Cursos impartidos</span>
                        </h6>
                      <ul class="nav flex-column">
                        <li class="nav-item">
                          <a class="nav-link active" href="#">
                            <span data-feather="grid"></span>
                            FP <span class="sr-only">(current)</span>
                          </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="grid"></span>
                                IS
                            </a>
                        </li>
                      </ul>
                    </div>
                </nav>
          
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                    <% if ((locals.warnings) && (locals.warnings.length > 0)) {%>
                        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                            <h1 class="h2">Avisos</h1>
                            <div class="btn-toolbar mb-2 mb-md-0">
                                <form action="/deleteWarnings" method="POST">
                                    <button type="submit" class="btn btn-outline-warning mr-2">Limpiar avisos</button>
                                </form>
                                <div class="btn-group mr-2">
                                    <button type="button" class="btn btn-primary">
                                        Nuevos avisos <span class="badge badge-light"><%=warnings.length%></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <% warnings.forEach(warning=> { %>
                            <div class="container-fluid py-3 border-bottom my-2">
                                <div class="alert alert-warning fade show" role="alert">
                                     <!--=warning.nombreA-->
                                    <strong>Oops!</strong> Parece que el alumno <%=warning.texto%>
                                </div>
                            </div>
                        <% }) %>
                    <% } %>
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                      <h1 class="h2">Gestión exámenes</h1>
                      <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                          <button class="btn btn-sm btn-outline-secondary">Share</button>
                          <button class="btn btn-sm btn-outline-secondary">Export</button>
                        </div>
                      </div>
                    </div>
                    <h4 class="h4 border-bottom pb-2 mb-3">Añadir examen</h4>
                    <div>
                    <!-- MULTIPLE FILES -->
                    <div class="container">
                        <div class="row">
                            <form action="/uploadexams"  enctype="multipart/form-data" method="POST">
                                Selecciona los archivos <input class="input" type="file" name="examen" multiple>
                                <input type="submit" class="btn btn-secondary" value="Añadir examenes"/>
                            </form>
                        </div>
                    </div>

                    </div>
                    <div class="pt-3 pb-2 mb-3 border-bottom h-100" id="addUser">
                        <h3 class="h4 border-bottom pb-2 mb-3">Exámenes subidos</h3>
                        <div class="row">
                            <div class="col-4">
                                
                                <% if(examenes !== null && examenes !== undefined){ %>
                                    <% examenes.forEach(e=> { %>
                                        <div class="d-flex flex-row m-1 border p-1">
                                            <div class="center align-middle">
                                                <%= e.modelo%>
                                            </div>
                                            <div class="d-flex flex-column">
                                                <form  class="mb-1"action="/eliminarExamen" method="POST">
                                                    <button type="submit" class="btn btn-danger">Eliminar</button>
                                                    <input name="ex" type="hidden" value="<%=e.modelo%>">
                                                </form>
                                                <form class="mt-1" action="/mostrarExamen" method="POST">
                                                    <input name="mex" type="hidden" value="<%=e.ruta%>">
                                                    <button type="submit" class="btn btn-secondary">Mostrar</button>
                                                </form>
                                            </div>
                                        </div>
                                    <% }) %>
                                <% } %>
                            </div>
                            <div class="col-8 vh-100">
                                <% if(rutaEx !== null){%>
                                    <embed src ="<%=rutaEx%>" type ="application/pdf" width="100%", height="100%">
                                <%}%>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <script src="https://unpkg.com/feather-icons"></script>
        <script>
            feather.replace()
        </script>
    </body>
</html